@{
    Layout = null;
}


<!doctype html>
<html lang="zxx">

<partial name="LayoutPartial/_HeaderPartial" />

<body>
    <!--header-->

    <partial name="LayoutPartial/_NavbarPartial" />
    <!-- //header -->
    @RenderBody()

    <partial name="LayoutPartial/_ScriptPartial" />
    <partial name="LayoutPartial/_FooterPartial" />
    
   

</body>

</html>
